.jumbotron {
    margin-top: 20px;
   
}

/* cards */

.content {
    padding: 50px;
}

.sectionHeading {
    text-align: center;
}

.myWork {
    padding: 0px 30px 30px 30px;
}

.cardContainer {
    text-align: center;
}


